# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[{*.json,.huskyrc,.gitignore,.npmignore}]
trim_trailing_whitespace = true
insert_final_newline = true
