# dependencies
/node_modules

.idea

# build files
es/
lib/
types/

.DS_Store

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

