name: NPM Publish

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  npm-publish:
    name: npm-publish
    uns-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@master
        - name: Set up Node.js
          uses: actions/setup-node@master
          with:
            node-version: 12.x
        - name: Publish if version has been updated
          uses: pascalgn/npm-publish-action@1.3.4
          with: # All of theses inputs are optional
            tag_name: "v%s"
            tag_message: "v%s"
            commit_pattern: "^release (\\S+)"
            workspace: "."
            publish_command: "npm"
            publish_args: "--non-interactive"
          env: # More info about the environment variables in the README
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this as is, it's automatically generated
            NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }} # You need to set this in your repo settings (secrets)
